main {
  width: 60%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  justify-self: center;
  border-radius: 30px;
  max-width: 1000px;
  background-color: var(--secundaria);
}

#btnsRespostas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#btnsRespostas button {
  background-color: var(--primaria);
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  transition: 0.25s;
}

#btnsRespostas button:hover {
  background-color: green;
  scale: 1.2;
}
