main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.pessoa {
  background-color: var(--secundaria);
  width: 420px;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: 0.5s;
}

.pessoa img {
  border-radius: 50%;
}

.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pessoa:hover {
  scale: 1.1;
  border: 5px solid gold;
}
