/* -------------------------
   Reset
   ------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------
   Geral
   ------------------------- */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primaria);
    background-color: var(--secundaria);
}

main {
    padding: 20px;
}

/* -------------------------
   Navegação
   ------------------------- */

nav {
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--primaria);
    padding: 15px 0;
    border-radius: 5px;
    position: fixed;
}

nav a {
    text-decoration: none;
    color: var(--texto);
}

/* -------------------------
   Seções
   ------------------------- */

section {
    background-color: var(--primaria);
    margin: 30px auto;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 900px;
    color: var(--texto);
}

#inicio {
    margin-top: 70px;
}

/* -------------------------
   Títulos
   ------------------------- */

h1 {
    color: var(--texto);
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

h2 {
    color: var(--texto);
    border-bottom: 3px solid var(--secundaria);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* -------------------------
   Destaques e Links
   ------------------------- */

.destaque {
    background-color: var(--secundaria);
    padding: 15px 15px 15px 25px;
    border-left: 5px solid var(--secundaria);
    border-radius: 15px;
    margin: 20px 0;
}

.linkdojogo {
    color: var(--texto);
    text-decoration: underline;
    font-weight: bold;
}

/* -------------------------
   Formulário
   ------------------------- */

input, textarea {
    background-color: var(--primaria);
    color: var(--texto);
    border: 1px solid var(--texto);
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: var(--secundaria);
    color: var(--texto);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}