@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaria: green;
  --secundaria: blue;
  --texto: black;
  --teoria: black;
}

.light {
  --primaria: lightgray;
  --secundaria: whitesmoke;
  --texto: black;
}

.dark {
  --primaria: rgb(26, 29, 29);
  --secundaria: black;
  --texto: white;
  --teoria: cyan;
}

/* Temas Dark */
.darkgreen {
  --primaria: #22c55e;
  --secundaria: #1f2937;
  --texto: #ecfdf5;
}

.darkpurple {
  --primaria: #7c3aed;
  --secundaria: #1e292c;
  --texto: #f3f4f6;
}
.darkblue {
  --primaria: #2cabaa;
  --secundaria: #161f48;
  --texto: #cad5de;
}
/* Temas Light */

.lightblue {
  --primaria: #6d94c5;
  --secundaria: #cbdced;
  --texto: LIGHTGRAY;
}
