:root {
  --primaria: green;
  --secundaria: blue;
  --texto: black;
  --teoria: black;
}

.light {
  --primaria: lightgray;
  --secundaria: whitesmoke;
  --texto: black;
}

.dark {
  --primaria: rgb(26, 29, 29);
  --secundaria: black;
  --texto: white;
  --teoria: cyan;
}

.rose {
  --primaria: pink;
  --secundaria: blue;
  --texto: red;
}

.roxo {
  --primaria: purple;
  --secundaria: blue;
  --texto: pink;
}